@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.bg{
    
    /* background: linear-gradient(to right, #434343 0%, black 100%); */
    /* background: linear-gradient(109.6deg, rgb(20, 30, 48) 11.2%, rgb(36, 59, 85) 91.1%); */
    /* background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%); */
    background: rgb(9,9,121);
background: linear-gradient(144deg, rgba(9,9,121,1) 19%, rgba(29,162,189,1) 51%, rgba(2,0,36,1) 85%);
}